body {
  background-image: url(../img/common/bg1.jpg);
  background-repeat: no-repeat; }

header #assortment .top_ban {
  margin-top: -25px;
  height: 400px; }
  header #assortment .top_ban .mask_warp {
    display: block;
    position: relative; }
    header #assortment .top_ban .mask_warp .mask_bg img {
      background-size: 100%;
      position: absolute;
      height: 428px;
      width: 100%;
      -webkit-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
      z-index: 50; }
    header #assortment .top_ban .mask_warp .mask {
      background-color: #000;
      background-color: rgba(255, 251, 251, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 100; }
  header #assortment .top_ban .slide .carousel-inner .item {
    height: 428px; }

section .market ul > li {
  float: left;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto; }
  section .market ul > li ul {
    width: 1138px;
    height: 260px;
    margin-top: 20px; }
    section .market ul > li ul li {
      padding-top: 10px; }
      section .market ul > li ul li a {
        display: block; }
        section .market ul > li ul li a img {
          height: 150px;
          text-align: center;
          vertical-align: middle;
          border-radius: 50%;
          position: relative;
          right: 7px; }
        section .market ul > li ul li a p {
          margin-top: 10px;
          text-align: left; }
        section .market ul > li ul li a :nth-child(3) {
          color: #ff5400; }
    section .market ul > li ul li:hover {
      border: 2px solid #f6b37f;
      border-radius: 4px; }
section .market ul :nth-child(1) b,
section .market ul b:hover {
  color: #f50000;
  border-bottom: 3px solid red;
  padding-bottom: 5px; }
  section .market ul :nth-child(1) b s,
  section .market ul b:hover s {
    width: 0px;
    border: 3px dashed #0dbff9;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 0px; }
section .commodity {
  position: relative;
  margin-top: 45px;
  height: 600px; }
  section .commodity p {
    text-align: left;
    margin-left: 3px;
    margin-bottom: 10px;
    font-size: 20px;
    text-overflow: inherit; }
  section .commodity .com_bod {
    position: relative;
    height: 330px; }
    section .commodity .com_bod .com_le {
      display: inline-block;
      width: 30/11.4%;
      background: #84CCC9;
      height: 300px;
      position: absolute;
      left: 0;
      margin-left: 0px; }
      section .commodity .com_bod .com_le img {
        height: 300px;
        width: 343px; }
      section .commodity .com_bod .com_le p {
        position: absolute;
        bottom: 20px;
        background: #f29c9f;
        height: 30px;
        width: 342px;
        opacity: 0.5;
        margin-left: 0px; }
    section .commodity .com_bod .com_ri {
      position: absolute;
      left: 343px;
      top: 0; }
      section .commodity .com_bod .com_ri :nth-child(1) li {
        margin-bottom: 20px; }
      section .commodity .com_bod .com_ri ul li {
        background: #84CCC9;
        width: 185px;
        height: 140px;
        float: left;
        margin-left: 14px; }
        section .commodity .com_bod .com_ri ul li img {
          width: 185px;
          height: 140px; }
  section .commodity .banner {
    position: relative;
    bottom: 10px; }
    section .commodity .banner ul li {
      float: left;
      width: 285px;
      height: 150px;
      background: #7ecef3; }
      section .commodity .banner ul li img {
        width: 285px;
        height: 150px; }
    section .commodity .banner :nth-child(2n) {
      background: #84ccc9; }
  section .commodity a {
    height: 30px;
    background: #cccec9;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    color: #000000;
    border: 1px solid #ecead9;
    border-radius: 4px; }
section .service p {
  font-size: 20px; }
section .service .chang_fx {
  width: 300px; }
section .service .serv_b {
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px; }
  section .service .serv_b .wi {
    width: 33%;
    height: 350px;
    text-align: center;
    vertical-align: middle; }
  section .service .serv_b .serv_o {
    display: inline-block;
    position: relative;
    top: 0;
    text-align: center;
    vertical-align: middle; }
    section .service .serv_b .serv_o ul li {
      height: 150px;
      width: 165px;
      float: left;
      margin-top: 20px;
      margin-right: 15px; }
      section .service .serv_b .serv_o ul li a {
        display: block;
        height: 150px;
        width: 165px; }
        section .service .serv_b .serv_o ul li a img {
          height: 148px;
          width: 160px; }
    section .service .serv_b .serv_o ul li:hover {
      border: 1px solid #f40; }
    section .service .serv_b .serv_o ul > :nth-child(1) {
      width: 350px;
      margin-top: 0;
      margin-right: 0; }
      section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_t {
        text-align: left;
        height: 24%;
        margin-bottom: 10px; }
        section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_t span {
          color: #458fe6; }
          section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_t span h3 {
            font-size: 27px;
            font-weight: bold;
            padding-left: 15px; }
      section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_d {
        height: 55%;
        margin: 0; }
        section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_d span {
          width: 140px;
          display: block;
          text-align: left;
          padding-left: 15px;
          font-size: 16px; }
        section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_d span:nth-child(1) {
          font-weight: bold; }
        section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_d a {
          border: 1px solid #f40;
          display: block;
          height: 20px;
          font-size: 16x;
          line-height: 20px;
          width: 130px;
          text-align: center;
          border-radius: 15px;
          margin-top: 8px; }
        section .service .serv_b .serv_o ul > :nth-child(1) .serv_change_d img {
          float: right;
          position: relative;
          bottom: 110px;
          right: 20px; }
    section .service .serv_b .serv_o ul :nth-child(2) {
      margin-right: 10px; }
    section .service .serv_b .serv_o ul :nth-child(3) {
      margin-left: 10px;
      margin-right: 0; }
  section .service .serv_b .serv_t {
    display: inline-block;
    position: relative;
    top: 0; }
    section .service .serv_b .serv_t ul li {
      height: 150px;
      width: 160px;
      float: left;
      margin-right: 10px; }
      section .service .serv_b .serv_t ul li a {
        display: block;
        height: 150px;
        width: 160px; }
        section .service .serv_b .serv_t ul li a img {
          height: 148px;
          width: 156px; }
    section .service .serv_b .serv_t ul li:hover {
      border: 1px solid #f40; }
    section .service .serv_b .serv_t ul :nth-child(2) {
      margin-right: 0; }
    section .service .serv_b .serv_t ul :nth-child(3) {
      margin-top: 20px;
      width: 350px;
      margin-right: 0; }
      section .service .serv_b .serv_t ul :nth-child(3) .serv_change_t {
        text-align: left;
        height: 24%;
        margin-bottom: 10px; }
        section .service .serv_b .serv_t ul :nth-child(3) .serv_change_t span {
          color: #dc3535;
          font-size: 20px; }
      section .service .serv_b .serv_t ul :nth-child(3) .serv_change_d {
        height: 55%;
        margin: 0; }
        section .service .serv_b .serv_t ul :nth-child(3) .serv_change_d span {
          width: 140px;
          display: block;
          text-align: left;
          padding-left: 15px;
          font-size: 16px; }
        section .service .serv_b .serv_t ul :nth-child(3) .serv_change_d span:nth-child(1) {
          font-size: 13px; }
        section .service .serv_b .serv_t ul :nth-child(3) .serv_change_d a {
          border: 1px solid #f40;
          display: block;
          height: 20px;
          font-size: 16x;
          line-height: 20px;
          width: 130px;
          text-align: center;
          border-radius: 15px;
          margin-top: 8px;
          color: #F40; }
        section .service .serv_b .serv_t ul :nth-child(3) .serv_change_d img {
          float: right;
          position: relative;
          bottom: 110px;
          right: 20px; }
  section .service .serv_b .serv_s {
    display: inline-block;
    background: #959595;
    position: relative;
    top: -15px;
    height: 320px; }
    section .service .serv_b .serv_s a {
      display: block;
      height: 320px;
      width: 376px; }
      section .service .serv_b .serv_s a img {
        height: 320px;
        width: 376px; }
section .service > ul li {
  float: left;
  width: 284px;
  height: 150px;
  background: #7ecef3; }
section .service > ul :nth-child(2n) {
  background: #84ccc9; }
section .service > a {
  width: 100%;
  height: 30px;
  background: #d6d6ce;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  color: #000;
  border: 1px solid #ecead9;
  border-radius: 4px; }
section .secondhand {
  margin-top: 30px; }
  section .secondhand p {
    font-size: 20px; }
  section .secondhand .test {
    overflow: hidden;
    width: 100%; }
    section .secondhand .test .lunbo_wrap {
      width: 100%;
      position: relative; }
      section .secondhand .test .lunbo_wrap .pic_box {
        position: absolute;
        height: 100%;
        width: 9999px;
        left: 0;
        top: 0;
        transition: all 500ms ease-in; }
        section .secondhand .test .lunbo_wrap .pic_box li {
          float: left; }
      section .secondhand .test .lunbo_wrap #left_arrow,
      section .secondhand .test .lunbo_wrap #right_arrow {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        font-size: 40px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        cursor: pointer; }
      section .secondhand .test .lunbo_wrap #left_arrow {
        left: 0; }
      section .secondhand .test .lunbo_wrap #right_arrow {
        right: 0; }
      section .secondhand .test .lunbo_wrap .pannel {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%); }
        section .secondhand .test .lunbo_wrap .pannel li {
          margin-right: 5px;
          cursor: pointer;
          display: block;
          width: 10px;
          height: 10px;
          background: #cccccc;
          border-radius: 50%;
          float: left; }
        section .secondhand .test .lunbo_wrap .pannel li.active {
          background: red; }
  section .secondhand a {
    width: 100%;
    height: 30px;
    background: #d6d6ce;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 30px;
    color: #000;
    border: 1px solid #ecead9;
    border-radius: 4px; }
section .friendly_link {
  margin-top: 30px; }
  section .friendly_link p {
    font-size: 20px; }
  section .friendly_link ul li {
    float: left;
    width: 173px;
    height: 90px;
    background: #84ccc9;
    text-align: center;
    vertical-align: middle;
    margin: 10px; }
    section .friendly_link ul li a {
      display: block; }
      section .friendly_link ul li a img {
        width: 173px;
        height: 90px; }
  section .friendly_link ul :nth-child(1) {
    margin-left: 0; }
  section .friendly_link ul :nth-last-child(1) {
    margin-right: 0; }

footer {
  height: 150px;
  margin-top: 30px; }

@media screen and (max-width: 481px) {
  body {
    background: none; }

  header #assortment .cen .top_ban .slide .carousel-inner .item img {
    width: 100%;
    height: 100%;
    background-position: center center; }

  header #assortment .cen .top_ban .slide .carousel-inner .item {
    width: auto;
    height: 200px; }

  .container {
    padding: 0;
    margin: 0; }
    .container .market ul > li ul {
      width: auto; }
    .container .commodity {
      margin-top: 0; }
      .container .commodity .com_le p {
        width: 220px; }
      .container .commodity .com_le img {
        height: auto;
        width: auto; }
      .container .commodity .com_bod .com_le {
        width: 100%; }
        .container .commodity .com_bod .com_le img {
          width: 100%;
          height: auto; }
        .container .commodity .com_bod .com_le p {
          width: 100%; }
      .container .commodity .com_bod .com_ri {
        position: initial; }

  .an_nab ul li {
    width: 20%;
    text-align: center; }
    .an_nab ul li p {
      margin: 0;
      padding: 0; }

  .an_con ul li .main_tu img {
    width: 100%; }
  .an_con ul li .main_t .m_tx {
    height: 33px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    color: #232326;
    margin-top: 5px;
    line-height: 17px;
    margin-bottom: 3px;
    padding: 0 4px; } }
@media screen and (min-width: 482px) and (max-width: 767px) {
  .tb_ri {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .tb_ri {
    display: none; } }

/*# sourceMappingURL=index.css.map */
