header {
  margin-bottom: 0px;
  height: 42px; }
  header .top_le {
    height: 42px; }

section .sh_con {
  background: #00A1D6;
  margin-bottom: 20px; }
  section .sh_con .sh_nav {
    height: 60px;
    line-height: 60px;
    text-align: center; }
    section .sh_con .sh_nav > span {
      font-size: 25px;
      color: #fff;
      text-align: left; }
    section .sh_con .sh_nav ul {
      margin-bottom: 0; }
      section .sh_con .sh_nav ul li {
        float: left;
        width: 120px; }
        section .sh_con .sh_nav ul li a {
          display: block;
          color: #fff; }
  section .sh_con .sh_nav form input {
    height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    width: 250px; }
  section .sh_con .sh_nav form button {
    line-height: 20px;
    background: none;
    height: 20px;
    color: #fff;
    margin: 0;
    padding: 0; }
section .s_nav_index > ul.col-md-2 {
  border: 1px solid #e1e2e5;
  padding: 0;
  text-align: center;
  background-color: #fafafa;
  color: #222;
  width: 13%; }
  section .s_nav_index > ul.col-md-2 > li > a {
    color: #717171;
    font-size: 16px;
    padding-bottom: 7px;
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e1e2e5;
    color: #222; }
  section .s_nav_index > ul.col-md-2 > li > ul {
    border: none; }
    section .s_nav_index > ul.col-md-2 > li > ul > li {
      height: 45px;
      line-height: 45px; }
      section .s_nav_index > ul.col-md-2 > li > ul > li a {
        display: block;
        color: #222; }
      section .s_nav_index > ul.col-md-2 > li > ul > li a:hover {
        background-color: #e1e4ea; }
      section .s_nav_index > ul.col-md-2 > li > ul > li a:checked,
      section .s_nav_index > ul.col-md-2 > li > ul > li a:active,
      section .s_nav_index > ul.col-md-2 > li > ul > li a.active {
        background-color: #00A1D7;
        color: #fff; }
        section .s_nav_index > ul.col-md-2 > li > ul > li a:checked i,
        section .s_nav_index > ul.col-md-2 > li > ul > li a:active i,
        section .s_nav_index > ul.col-md-2 > li > ul > li a.active i {
          color: #fff; }
      section .s_nav_index > ul.col-md-2 > li > ul > li i {
        color: #99a2aa; }
section .s_nav_index > .col-md-9 .yhxx .xx_top {
  border: 1px solid #e3e3e3;
  height: 100px;
  padding-top: 10px; }
  section .s_nav_index > .col-md-9 .yhxx .xx_top .touxiang {
    text-align: center;
    width: 12%;
    padding-right: 0; }
    section .s_nav_index > .col-md-9 .yhxx .xx_top .touxiang img {
      width: 70px;
      height: 70px;
      border-radius: 50%; }
  section .s_nav_index > .col-md-9 .yhxx .xx_top .mingzi {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 4px; }
  section .s_nav_index > .col-md-9 .yhxx .xx_top .zhanghu ul {
    margin-top: 20px; }
    section .s_nav_index > .col-md-9 .yhxx .xx_top .zhanghu ul li {
      text-align: center;
      width: 33.3%;
      float: left;
      position: relative;
      right: 0px;
      font-size: 15px;
      display: block; }
      section .s_nav_index > .col-md-9 .yhxx .xx_top .zhanghu ul li a {
        z-index: 1;
        display: block;
        color: #000; }
        section .s_nav_index > .col-md-9 .yhxx .xx_top .zhanghu ul li a span {
          color: #666; }
      section .s_nav_index > .col-md-9 .yhxx .xx_top .zhanghu ul li a:hover {
        color: red; }
    section .s_nav_index > .col-md-9 .yhxx .xx_top .zhanghu ul li:nth-child(2) {
      border-left: 1px solid #999;
      border-right: 1px solid #999; }
  section .s_nav_index > .col-md-9 .yhxx .xx_top .renzheng {
    margin-left: 85px;
    margin-top: -35px; }
    section .s_nav_index > .col-md-9 .yhxx .xx_top .renzheng span {
      width: 7%;
      text-align: left;
      margin: 0;
      padding: 0; }
section .s_nav_index > .col-md-9 .yhxx .xqxinfo tr th {
  width: 110px;
  text-align: right;
  color: #666;
  font-weight: normal;
  padding-right: 10px;
  font-size: 12px; }
section .s_nav_index > .col-md-9 .yhxx .xqxinfo tr td {
  font-size: 12px;
  padding: 10px 0; }
  section .s_nav_index > .col-md-9 .yhxx .xqxinfo tr td .yhzh_p {
    margin-top: 10px; }
  section .s_nav_index > .col-md-9 .yhxx .xqxinfo tr td .six span {
    float: left;
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    border-radius: 3px;
    margin-right: 20px;
    background: #f4f4f4;
    cursor: pointer; }
  section .s_nav_index > .col-md-9 .yhxx .xqxinfo tr td .six span:checked,
  section .s_nav_index > .col-md-9 .yhxx .xqxinfo tr td .six span:active,
  section .s_nav_index > .col-md-9 .yhxx .xqxinfo tr td .six span.active {
    background: #00A1D7;
    color: #fff; }

@media screen and (max-width: 481px) {
  .p10 {
    padding: 0 10px; }

  .c_my_use .cu_n {
    background: #66ccff;
    vertical-align: middle;
    border: 1px solid #CCCCCC;
    padding: 10px 10px 10px 20px; }
    .c_my_use .cu_n span {
      float: left;
      width: 55px;
      height: 55px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      line-height: 50px;
      margin-right: 10px; }
      .c_my_use .cu_n span img {
        border-radius: 50%;
        width: 100%; }
    .c_my_use .cu_n span:nth-child(3) {
      font-size: 28px;
      float: right; }
  .c_my_use .cu_sc {
    background: #66512C;
    border: 1px solid #ccc;
    border-top: none; }
    .c_my_use .cu_sc ul li {
      text-align: center;
      line-height: 30px;
      float: left;
      width: 33.33333333333333333333%;
      border-right: 1px solid #ccc; }
      .c_my_use .cu_sc ul li a {
        display: block; }
        .c_my_use .cu_sc ul li a p {
          height: auto; }
    .c_my_use .cu_sc ul li:last-child {
      border: none; }
  .c_my_use .cu_d {
    background: red; }
    .c_my_use .cu_d a {
      display: block;
      text-align: left;
      height: 40px;
      line-height: 40px;
      border: 1px solid #E3E3E3;
      color: #000000;
      border-top: none;
      padding: 0 10px; }
      .c_my_use .cu_d a span {
        float: right; }
  .c_my_use .cu_mon {
    background: #089C08; }
    .c_my_use .cu_mon a {
      display: block;
      text-align: left;
      height: 40px;
      line-height: 40px;
      border: 1px solid #E3E3E3;
      color: #000000;
      border-top: none; }
  .c_my_use .cu_men {
    background: #405760; }
    .c_my_use .cu_men ul {
      margin-bottom: 0; }
      .c_my_use .cu_men ul li {
        text-align: center;
        line-height: 30px;
        float: left;
        width: 33.3333333333333333%;
        border-right: 1px solid #ccc;
        height: 30px; }
    .c_my_use .cu_men a {
      display: block; }
  .c_my_use .cu_up {
    background: #795DA3;
    border-top: 1px solid #ccc; }
    .c_my_use .cu_up a {
      display: block;
      text-align: left;
      height: 30px;
      padding-left: 80px;
      color: #000;
      padding-right: 90px;
      font-size: 17px; }
      .c_my_use .cu_up a span {
        float: right; }
  .c_my_use .cu_seve {
    background: #B0A17E;
    border: 1px solid #CCCCCC;
    border-top: none; }
    .c_my_use .cu_seve ul {
      margin: 0; }
      .c_my_use .cu_seve ul li {
        width: 25%;
        float: left;
        border-right: 1px solid #CCCCCC;
        text-align: center; }
        .c_my_use .cu_seve ul li a {
          display: block;
          color: #000000; }
      .c_my_use .cu_seve ul li:last-child {
        border: none; }
  .c_my_use .cu_ser {
    background: #EC971F;
    border: 1px solid #ccc; }
    .c_my_use .cu_ser ul {
      margin: 0; }
      .c_my_use .cu_ser ul li {
        width: 49.9999%;
        float: left;
        border-right: 1px solid #CCCCCC;
        text-align: center;
        height: 30px;
        line-height: 30px; } }

/*# sourceMappingURL=personal.css.map */
