@charset "utf-8";
body {
    //  background: url(../img/common/bg.jpg) no-repeat;
    //background-color: #FAF6F7!important;
    //background: #FAF6F7;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #676767;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header {
    margin-bottom: 20px;
    .head_top {
        color: #222;
        position: relative;
        z-index: 10000;
        .z_top.b-header-blur {
            background-color: transparent;
        }
        .heads {
            height: 42px;
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
            top: 0;
            left: 0;
            width: 100%;
            position: relative;
            z-index: 10000;
            color: #222;
            .mask_warp {
                display: block;
                .mask_bg {
                    position: absolute;
                    height: 62px;
                    padding: 0 20px;
                    width: 100%;
                    -webkit-filter: blur(5px);
                    -ms-filter: blur(5px);
                    filter: blur(5px);
                    z-index: 50;
                    background-position: top 0!important;
                    background-repeat: no-repeat;
                }
                .mask {
                    background-color: #000;
                    background-color: rgba(255, 251, 251, 0.4);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                }
            }
            .head_top_warp {
                z-index: 10000;
                height: 42px;
                line-height: 42px;
                position: relative;
                z-index: 10000;
                zoom: 1;
                font-size: 15px;
                //                              color: #000000;
                p {
                    color: #000000;
                    a {
                        color: #545454;
                        height: 42px;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        i {
                            color: darkorange;
                        }
                    }
                    a:nth-child(2) {
                        width: 55px;
                    }
                    a:hover {
                        background-color: rgba(255, 251, 251, 0.4);
                    }
                }
                .top_le {
                    padding-left: 130px;
                }
                .top_ri {
                    height: 42px;
                    ul {
                        li {
                            float: left;
                            margin-right: 15px;
                            text-align: center;
                            vertical-align: middle;
                            height: 42px;
                            i.icon-shopping {
                                color: #e18594;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .z_set {
            margin-bottom: 30px;
            .logo {
                margin-top: -30px;
                padding-left: 127px;
                img {
                    width: 80px;
                    height: 80px;
                }
                .logo_text {
                    display: inline-block;
                    position: relative;
                    top: 30px;
                    p {
                        margin: 0px;
                        font-size: 18px;
                        color: #fa9967;
                    }
                    p:nth-child(1) {
                        font-size: 30px;
                    }
                }
            }
            //  搜索
            .search {
                margin-top: 30px;
                .search_inp {
                    input {
                        border: 2px solid #E75558;
                        width: 70%;
                        padding-left: 5px;
                        height: 30px;
                        background-color: #000;
                        background-color: rgba(255, 251, 251, 0.4)
                    }
                    >a {
                        background: #E75558;
                        color: #FFFFFF;
                        height: 30px;
                        width: 10%;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        margin-left: -5px;
                        margin-top: -2px;
                        line-height: 30px;
                    }
                }
                ul {
                    li {
                        float: left;
                        margin-right: 15px;
                        a {
                            color: #ababab;
                            margin-right: 10px;
                        }
                    }
                     :nth-child(1) {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    //  二级菜单  
    #assortment {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
        height: 483px;
        >p {
            border-bottom: 2px solid #ee914b;
            padding-left: 0;
            margin: 0;
            position: relative;
            top: 30px;
        }
        .cen {
            height: 430px;
            >ul {
                margin-bottom: 25px;
                >li {
                    float: left;
                    text-align: center;
                    vertical-align: middle;
                    width: 8%;
                    height: 30px;
                    line-height: 30px;
                    a {
                        color: #000000;
                        height: 30px;
                        display: block;
                    }
                    ul {
                        display: none;
                        background: #f6b37f;
                        position: absolute;
                        width: 137px;
                        margin-top: -2px;
                        height: 430px;
                        li {
                            height: 19px;
                            line-height: 25px;
                            p {
                                margin: 10px 0 2px;
                                color: #000000;
                            }
                            a {
                                color: #FFFFFF;
                            }
                        }
                         :hover a {
                            color: #ff5e7a;
                            a {
                                color: #FF5E7A;
                            }
                            i {
                                color: #FF5E7A;
                            }
                        }
                    }
                }
                 :hover ul {
                    display: block;
                }
                > :nth-child(1) {
                    background: #f6b37f;
                    width: 12%;
                    a {
                        color: #FFFFFF;
                    }
                }
                >li:hover {
                    background: #f6b37f;
                    a {
                        color: #FFFFFF;
                    }
                }
            }
            .top_ban {
                margin-top: -25px;
                height: 400px;
                .slide {
                    .carousel-inner {
                        .item {
                            img {
                                width: 100%;
                                height: 428px;
                            }
                        }
                    }
                }
            }
            .tb_ri {
                background: #dfcda9;
                height: 428px;
                position: relative;
                left: 880px;
                top: -428px;
                display: inline-block;
                .public {
                    width: 260px;
                    height: 40px;
                    ul {
                        width: 260px;
                        height: 40px;
                        margin: 0px;
                        background: red;
                        li {
                            float: left;
                            width: 33%;
                            text-align: center;
                            height: 40px;
                            background: #E8FFE8;
                            line-height: 40px;
                            border: 1px solid #E8FFE8;
                        }
                        li:nth-child(1) {
                            width: 88px;
                        }
                    }
                }
                .pu_trends {
                    height: 388px;
                    overflow-y: hidden;
                    #dance {
                        background: #FFFFFF;
                        #demo1,
                        #demo2 {
                            tbody {
                                tr {
                                    height: 70px;
                                    td {
                                        display: inline-block;
                                        margin-top: 15px;
                                        img {
                                            height: 50px;
                                            width: 50px;
                                            float: left;
                                            margin: 0px 15px;
                                            margin-right: 25px;
                                        }
                                        .trand_list {
                                            display: inline-block;
                                            background: #f8f8f8;
                                            margin-top: 3px;
                                            p {
                                                font-size: 13px;
                                                margin: 0px;
                                                height: 15px;
                                            }
                                        }
                                    }
                                    td:nth-child(2) {
                                        margin-left: 85px;
                                        font-size: 12px;
                                        color: #dd1e2a;
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .pu_bulletin {}
                .pu_login {
                    text-align: center;
                    vertical-align: middle;
                    margin-top: 80px;
                    display: none;
                    position: absolute;
                    left: 30px;
                    li {
                        width: 200px;
                        background: #DFF0D8;
                        text-align: center;
                        margin: 15px auto;
                        height: 40px;
                        line-height: 40px;
                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

footer {
    height: 150px;
    margin-top: 30px;
    border-top: 2px solid #b1bec8;
    >ul {
        margin-top: 20px;
        >li {
            height: 150px;
            border-right: 1px solid #b1bec8;
            ul {
                li {
                    text-align: left;
                    margin-bottom: 5px;
                    color: #676767;
                    padding-left: 35%;
                }
                li:nth-child(1) {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-height:832px) {
    //判断屏幕高度小于832px
}

@media screen and (max-width:948px) {
    //判断屏幕高度在843和948之间
    html,
    body {
        width: 1170px;
    }
    .head_top {
        width: 1170px;
        .top_le {
            width: 540px;
            display: inline-block;
        }
        .top_ri {
            display: inline-block;
            top: -53px;
            height: 104px;
        }
    }
    #assortment {
        width: 1170px;
    }
    .commodity {
        .com_ri {
            width: 800px;
        }
        .banner {
            >ul {
                width: 1140px;
            }
        }
        >a {
            display: block;
            width: 1140px;
        }
    }
    .serv_b {
        width: 1140px;
        margin-top: 0px;
    }
}

footer {
    height: 150px;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    //判断屏幕最大宽度768
    .container {
        width: 1170px!important;
    }
}

@media screen and (max-width:1024px) {
    //最小1024
    footer {
        width: 1170px;
    }
}