@charset "utf-8";
body {
    //  background: url(../img/common/bg.jpg) no-repeat;
    //background-color: #FAF6F7!important;
    //background: #FAF6F7;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #676767;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header {
    margin-bottom: 20px;
    .head_top {
        color: #222;
        position: relative;
        z-index: 10000;
        .z_top.b-header-blur {
            background-color: transparent;
        }
        .heads {
            height: 42px;
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
            top: 0;
            left: 0;
            width: 100%;
            position: relative;
            z-index: 10000;
            color: #222;
            .mask_warp {
                display: block;
                .mask_bg {
                    position: absolute;
                    height: 62px;
                    padding: 0 20px;
                    width: 100%;
                    -webkit-filter: blur(5px);
                    -ms-filter: blur(5px);
                    filter: blur(5px);
                    z-index: 50;
                    background-position: top 0!important;
                    background-repeat: no-repeat;
                }
                .mask {
                    background-color: #000;
                    background-color: rgba(255, 251, 251, 0.4);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                }
            }
            .head_top_warp {
                z-index: 10000;
                height: 42px;
                line-height: 42px;
                position: relative;
                z-index: 10000;
                zoom: 1;
                font-size: 15px;
                //                              color: #000000;
                p {
                    color: #000000;
                    a {
                        color: #545454;
                        height: 42px;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        i {
                            color: darkorange;
                        }
                    }
                    a:nth-child(2) {
                        width: 55px;
                    }
                    a:hover {
                        background-color: rgba(255, 251, 251, 0.4);
                    }
                }
                .top_le {
                    padding-left: 130px;
                }
                .top_ri {
                    height: 42px;
                    ul {
                        li {
                            float: left;
                            margin-right: 15px;
                            text-align: center;
                            vertical-align: middle;
                            height: 42px;
                            i.icon-shopping {
                                color: #e18594;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .z_set {
            margin-bottom: 30px;
            .logo {
                margin-top: -30px;
                padding-left: 127px;
                img {
                    width: 80px;
                    height: 80px;
                }
                .logo_text {
                    display: inline-block;
                    position: relative;
                    top: 30px;
                    p {
                        margin: 0px;
                        font-size: 18px;
                        color: #fa9967;
                    }
                    p:nth-child(1) {
                        font-size: 30px;
                    }
                }
            }
            //  搜索
            .search {
                margin-top: 30px;
                .search_inp {
                    input {
                        border: 2px solid #E75558;
                        width: 70%;
                        padding-left: 5px;
                        height: 30px;
                        background-color: #000;
                        background-color: rgba(255, 251, 251, 0.4)
                    }
                    >a {
                        background: #E75558;
                        color: #FFFFFF;
                        height: 30px;
                        width: 10%;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        margin-left: -5px;
                        margin-top: -2px;
                        line-height: 30px;
                    }
                }
                ul {
                    li {
                        float: left;
                        margin-right: 15px;
                        a {
                            color: #ababab;
                            margin-right: 10px;
                        }
                    }
                     :nth-child(1) {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    //  二级菜单  
    #assortment {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
        height: 483px;
        >p {
            border-bottom: 2px solid #ee914b;
            padding-left: 0;
            margin: 0;
            position: relative;
            top: 30px;
        }
        .cen {
            height: 458px;
            >ul {
                //padding-left: 110px;
                margin-bottom: 25px;
                >li {
                    float: left;
                    text-align: center;
                    vertical-align: middle;
                    width: 8%;
                    height: 30px;
                    line-height: 30px;
                    a {
                        color: #676767;
                        height: 30px;
                        display: block;
                    }
                    ul {
                        display: none;
                        background-color: rgba(255, 255, 255, .6);
                        position: absolute;
                        width: 170px;
                        margin-top: -2px;
                        height: 430px;
                        .tdi {
                            margin: 25px 0px;
                            border-bottom: 1px solid #fff;
                            padding-bottom: 30px;
                            h4 {
                                margin: 0px;
                                margin-bottom: 10px;
                                text-align: left;
                                margin-left: 25px;
                            }
                            li {
                                display: inline-block;
                                width: 30%;
                                line-height: 16px;
                                i {
                                    margin-right: 4px;
                                    font-size: 10px;
                                }
                            }
                             :hover a {
                                color: #ff5e7a;
                                a {
                                    color: #FF5E7A;
                                }
                                i {
                                    color: #FF5E7A;
                                }
                            }
                            .shopp {
                                opacity: 0;
                                transition: opacity .4s, transform .5s;
                                transform: rotateY(90deg);
                                transition: 200ms;
                            }
                            .sevr {
                                opacity: 0;
                                transition: opacity .4s, transform .5s;
                                transform: rotateY(90deg);
                                transition: 100ms;
                            }
                            .xiyang {
                                opacity: 0;
                                transition: opacity .4s, transform .5s;
                                transform: rotateY(90deg);
                                transition-delay: 0ms;
                            }
                        }
                        .tdi:hover h4 {
                            color: #F67E86;
                        }
                        li {
                            height: 19px;
                            line-height: 25px;
                            p {
                                margin: 10px 0 2px;
                                color: #000000;
                            }
                            a {
                                color: #000;
                            }
                        }
                    }
                }
                 :hover ul {
                    display: block;
                }
                > :nth-child(1) {
                    background-color: rgba(255, 255, 255, 0.6);
                    width: 15%;
                }
            }
            .top_ban {
                margin-top: -25px;
                height: 428px;
                position: relative;
                .slide {
                    position: relative;
                    height: 428px;
                    .carousel-inner {
                        z-index: 100;
                        padding-left: 29%;
                        padding-right: 30%;
                        .item {
                            img {
                                width: 100%;
                                height: 428px;
                            }
                        }
                    }
                }
            }
            .tb_ri {
                background: rgba(255, 255, 255, 0.8);
                height: 428px;
                position: relative;
                left: 70%;
                top: -428px;
                display: inline-block;
                .public {
                    width: 260px;
                    height: 40px;
                    margin: 0px;
                    li {
                        float: left;
                        width: 33%;
                        text-align: center;
                        height: 40px;
                        background: #E2EEEE;
                        line-height: 40px;
                        border: 1px solid #E2EEEE;
                    }
                    li:nth-child(1) {
                        width: 88px;
                    }
                }
                .pu_trends {
                    height: 388px;
                    overflow-y: hidden;
                    #dance {
                        background: rgba(255, 255, 255, 0.2);
                        #demo1,
                        #demo2 {
                            tbody {
                                tr {
                                    height: 70px;
                                    td {
                                        display: inline-block;
                                        margin-top: 15px;
                                        img {
                                            height: 50px;
                                            width: 50px;
                                            float: left;
                                            margin: 0px 15px;
                                            margin-right: 25px;
                                        }
                                        .trand_list {
                                            display: inline-block;
                                            margin-top: 3px;
                                            p {
                                                font-size: 13px;
                                                margin: 0px;
                                                height: 15px;
                                            }
                                        }
                                    }
                                    td:nth-child(2) {
                                        margin-left: 85px;
                                        font-size: 12px;
                                        color: #dd1e2a;
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .pu_bulletin {
                    text-align: center;
                    vertical-align: middle;
                    display: none;
                    position: absolute;
                    left: 15%;
                    top: 15%;
                    ul {
                        margin: 0;
                        a {
                            color: #006666;
                        }
                    }
                }
                .pu_login {
                    text-align: center;
                    vertical-align: middle;
                    display: none;
                    position: absolute;
                    left: 10%;
                    top: 25%;
                    li {
                        width: 200px;
                        background: #F1F7FB;
                        text-align: center;
                        margin: 15px auto;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 3px;
                        border: 1px solid #010;
                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

section.an_s {
    display: none;
}

footer {
    height: 150px;
    margin-top: 30px;
    border-top: 2px solid #b1bec8;
    .an_f {
        display: none;
        li {
            margin: 0 auto;
            text-align: center;
            a {
                display: block;
            }
        }
    }
    .pc_f {
        margin-top: 20px;
        >li {
            height: 150px;
            border-right: 1px solid #b1bec8;
            ul {
                li {
                    text-align: left;
                    margin-bottom: 5px;
                    color: #676767;
                    padding-left: 35%;
                }
                li:nth-child(1) {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width:481px) {
    html {
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }
    .an_dn {
        display: none;
    }
    section.an_s {
        display: block;
        height: auto;
        margin-bottom: 40px;
    }
    html::-webkit-scrollbar {
        width: 0px；
    }
    header {
        height: 242px;
        .head_top {
            background-color: #fff;
            //position: fixed;
            //top: 0;
            //left: 0;
            //right: 0;
            .heads.z_top {
                display: none;
            }
            .z_set {
                margin: 0;
                padding: 0;
                background-color: #fff;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                .logo {
                    display: none;
                }
                .search {
                    padding: 0;
                    margin: 0;
                    padding-left: 5%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    .search_inp {
                        border-radius: 5px;
                        position: relative;
                        i{
                            display: inherit;
                            position: absolute;
                            left: 0;
                            top: 20px;
                        }
                        input {
                            width: 95%;
                            border-radius: 50px 50px 50px 50px;
                            padding-left: 30px;
                            background-color: #e4e4e4;
                            border: none;
                            background-image: url(../img/sea.png);
                            background-size: 10%;
                            background-position: left 5px center;
                            background-repeat: no-repeat;
                        }
                        a {
                            display: none;
                        }
                    }
                    ul {
                        display: none;
                    }
                }
            }
        }
        #assortment {
            margin-top: 0;
            height: auto;
            position: relative;
            top: 40px;
            .cen {
                height: auto;
                >ul {
                    display: none;
                }
                .top_ban {
                    margin-top: 0;
                    height: auto;
                    .carousel-indicators {
                        z-index: 101;
                        width: auto;
                        margin-left: 0;
                        left: 75%;
                        display: none;
                        li {
                            width: 8px;
                            height: 8px;
                        }
                    }
                    .mask_warp {
                        display: none;
                    }
                    .slide {
                        height: 200px;
                        .carousel-inner {
                            padding: 0;
                        }
                    }
                }
                .tb_ri {
                    display: none;
                }
            }
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        .an_f {
            display: block;
            //border-top: 1px solid #000000;
            margin: 0;
            li {
                background: #fff;
                height: 40px;
                line-height: 40px;
                border-right: 1px solid #A6A6A6;
            }
        }
        .pc_f {
            display: none;
        }
    }
    footer.container-fluid {
        padding: 0;
        margin: 0;
        height: auto;
        line-height: 35px;
    }
}

@media screen and (min-width: 482px) and (max-width: 767px) {
    .tb_ri {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .tb_ri {
        display: none;
    }
}