@charset "utf-8";
header {
    margin-bottom: 0px;
    height: 42px;
    .top_le {
        height: 42px;
    }
}

section {
    .sh_con {
        background: #00A1D6;
        margin-bottom: 20px;
        .sh_nav {
            height: 60px;
            line-height: 60px;
            text-align: center;
            >span {
                font-size: 25px;
                color: #fff;
                text-align: left;
            }
            ul {
                margin-bottom: 0;
                li {
                    float: left;
                    width: 120px;
                    a {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
        .sh_nav {
            form {
                input {
                    height: 20px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    width: 250px;
                }
                button {
                    line-height: 20px;
                    background: none;
                    height: 20px;
                    color: #fff;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .s_nav_index {
        >ul.col-md-2 {
            border: 1px solid #e1e2e5;
            padding: 0;
            text-align: center;
            background-color: #fafafa;
            color: #222;
            width: 13%;
            >li {
                >a {
                    color: #717171;
                    font-size: 16px;
                    padding-bottom: 7px;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #e1e2e5;
                    color: #222;
                }
                >ul {
                    border: none;
                    >li {
                        height: 45px;
                        line-height: 45px;
                        a {
                            display: block;
                            color: #222;
                        }
                        a:hover {
                            background-color: #e1e4ea;
                        }
                        a:checked,
                        a:active,
                        a.active {
                            background-color: #00A1D7;
                            color: #fff;
                            i {
                                color: #fff;
                            }
                        }
                        i {
                            color: #99a2aa
                        }
                    }
                }
            }
        }
        .se_face {
            .fc_tl {
                color: #999;
                font-size: 22px;
                border-bottom: 1px solid #e1e2e5;
            }
            .fc_le {
                .fc_inp {
                    margin-top: 30px;
                    input {
                        color: #666;
                        font-family: "SimSun";
                        margin: 0;
                        outline: none;
                        padding: 0;
                        font-size: 100%;
                    }
                    input[type=button] {
                        background: none;
                        border: none;
                        background: url(../img/face_but.png) 0 0;
                        background-repeat: no-repeat;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        width: 130px;
                    }
                    input[type=file] {
                        height: 38px;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        font-size: 30px;
                        position: absolute;
                        left: 15px;
                        top: 30px;
                        width: 130px;
                    }
                    input[type=file]:hover input[type=button] {
                        background-position: 0 -75px;
                    }
                    span {
                        color: #999;
                        display: inline-block;
                        margin-left: 6px;
                        text-align: left;
                    }
                }
            }
            .fc_ri {
                p {
                    font-size: 16px;
                }
                .tu100 {
                    width: 100px;
                    height: 100px;
                }
                .tu50 {
                    width: 50px;
                    height: 50px;
                }
                ul {
                    li {
                        float: left;
                        margin: 5px;
                        cursor: pointer;
                        img {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}