@charset "utf-8";
body {
    background-image: url(../img/common/bg1.jpg);
    background-repeat: no-repeat;
}

header {
    //  height: 700px;
    #assortment {
        .top_ban {
            margin-top: -25px;
            height: 400px;
            .mask_warp {
                display: block;
                position: relative;
                .mask_bg {
                    img {
                        background-size: 100%;
                        position: absolute;
                        height: 428px;
                        width: 100%;
                        -webkit-filter: blur(5px);
                        -ms-filter: blur(5px);
                        filter: blur(5px);
                        z-index: 50;
                    }
                }
                .mask {
                    background-color: #000;
                    background-color: rgba(255, 251, 251, 0.4);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                }
            }
            .slide {
                .carousel-inner {
                    .item {
                        //                          width: 712px;
                        height: 428px;
                        //                          left: -11.5%;
                        img {
                            //                          width: 780px;
                            //                          height: 400px;
                        }
                    }
                }
            }
        }
    }
}

section {
    .market {
        ul {
            >li {
                float: left;
                text-align: center;
                vertical-align: middle;
                margin: 0 auto;
                ul {
                    width: 1138px;
                    height: 260px;
                    margin-top: 20px;
                    li {
                        padding-top: 10px;
                        a {
                            display: block;
                            img {
                                height: 150px;
                                text-align: center;
                                vertical-align: middle;
                                border-radius: 50%;
                                position: relative;
                                right: 7px;
                            }
                            p {
                                margin-top: 10px;
                                text-align: left;
                            }
                             :nth-child(3) {
                                color: #ff5400;
                            }
                        }
                    }
                    li:hover {
                        border: 2px solid #f6b37f;
                        border-radius: 4px;
                    }
                }
            }
             :nth-child(1) b,
            b:hover {
                color: #f50000;
                border-bottom: 3px solid red;
                padding-bottom: 5px;
                s {
                    width: 0px;
                    border: 3px dashed #0dbff9;
                    border-bottom-style: solid;
                    border-top: 0;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    height: 0px;
                }
            }
        }
    }
    .commodity {
        position: relative;
        margin-top: 45px;
        height: 600px;
        p {
            text-align: left;
            margin-left: 3px;
            margin-bottom: 10px;
            font-size: 20px;
            text-overflow: inherit;
        }
        .com_bod {
            position: relative;
            height: 330px;
            .com_le {
                display: inline-block;
                width: 30/11.4%;
                background: #84CCC9;
                height: 300px;
                position: absolute;
                left: 0;
                margin-left: 0px;
                img {
                    height: 300px;
                    width: 343px;
                }
                p {
                    position: absolute;
                    bottom: 20px;
                    background: #f29c9f;
                    height: 30px;
                    width: 342px;
                    opacity: 0.5;
                    margin-left: 0px;
                }
            }
            .com_ri {
                position: absolute;
                left: 343px;
                top: 0;
                 :nth-child(1) li {
                    margin-bottom: 20px;
                }
                ul {
                    li {
                        background: #84CCC9;
                        width: 185px;
                        height: 140px;
                        float: left;
                        margin-left: 14px;
                        img {
                            width: 185px;
                            height: 140px;
                        }
                    }
                }
            }
        }
        .banner {
            position: relative;
            bottom: 10px;
            ul {
                li {
                    float: left;
                    width: 285px;
                    height: 150px;
                    background: #7ecef3;
                    img {
                        width: 285px;
                        height: 150px;
                    }
                }
            }
             :nth-child(2n) {
                background: #84ccc9;
            }
        }
        a {
            height: 30px;
            background: #cccec9;
            line-height: 30px;
            text-align: center;
            border-radius: 5px;
            margin-top: 20px;
            color: #000000;
            border: 1px solid #ecead9;
            border-radius: 4px;
        }
    }
    .service {
        p {
            font-size: 20px;
        }
        .chang_fx {
            width: 300px;
        }
        .serv_b {
            position: relative;
            text-align: center;
            vertical-align: middle;
            margin-top: 20px;
            .wi {
                width: 33%;
                height: 350px;
                text-align: center;
                vertical-align: middle;
            }
            .serv_o {
                display: inline-block;
                position: relative;
                top: 0;
                text-align: center;
                vertical-align: middle;
                ul {
                    li {
                        height: 150px;
                        width: 165px;
                        float: left;
                        margin-top: 20px;
                        margin-right: 15px;
                        a {
                            display: block;
                            height: 150px;
                            width: 165px;
                            img {
                                height: 148px;
                                width: 160px;
                            }
                        }
                    }
                    li:hover {
                        border: 1px solid #f40;
                    }
                    >:nth-child(1) {
                        width: 350px;
                        margin-top: 0;
                        margin-right: 0;
                        .serv_change_t {
                            text-align: left;
                            height: 24%;
                            margin-bottom: 10px;
                            span {
                                color: #458fe6;
                                h3 {
                                    font-size: 27px;
                                    font-weight: bold;
                                    padding-left: 15px;
                                }
                            }
                        }
                        .serv_change_d {
                            height: 55%;
                            margin: 0;
                            span {
                                width: 140px;
                                display: block;
                                text-align: left;
                                padding-left: 15px;
                                font-size: 16px;
                            }
                            span:nth-child(1) {
                                font-weight: bold;
                            }
                            a {
                                border: 1px solid #f40;
                                display: block;
                                height: 20px;
                                font-size: 16x;
                                line-height: 20px;
                                width: 130px;
                                text-align: center;
                                border-radius: 15px;
                                margin-top: 8px;
                            }
                            img {
                                float: right;
                                position: relative;
                                bottom: 110px;
                                right: 20px;
                            }
                        }
                    }
                     :nth-child(2) {
                        margin-right: 10px;
                    }
                     :nth-child(3) {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
            .serv_t {
                display: inline-block;
                position: relative;
                top: 0;
                ul {
                    li {
                        height: 150px;
                        width: 160px;
                        float: left;
                        margin-right: 10px;
                        a {
                            display: block;
                            height: 150px;
                            width: 160px;
                            img {
                                height: 148px;
                                width: 156px;
                            }
                        }
                    }
                    li:hover {
                        border: 1px solid #f40;
                    }
                     :nth-child(2) {
                        margin-right: 0;
                    }
                     :nth-child(3) {
                        margin-top: 20px;
                        width: 350px;
                        margin-right: 0;
                        .serv_change_t {
                            text-align: left;
                            height: 24%;
                            margin-bottom: 10px;
                            span {
                                color: #dc3535;
                                font-size: 20px;
                            }
                        }
                        .serv_change_d {
                            height: 55%;
                            margin: 0;
                            span {
                                width: 140px;
                                display: block;
                                text-align: left;
                                padding-left: 15px;
                                font-size: 16px;
                            }
                            span:nth-child(1) {
                                font-size: 13px;
                            }
                            a {
                                border: 1px solid #f40;
                                display: block;
                                height: 20px;
                                font-size: 16x;
                                line-height: 20px;
                                width: 130px;
                                text-align: center;
                                border-radius: 15px;
                                margin-top: 8px;
                                color: #F40;
                            }
                            img {
                                float: right;
                                position: relative;
                                bottom: 110px;
                                right: 20px;
                            }
                        }
                    }
                }
            }
            .serv_s {
                display: inline-block;
                background: #959595;
                position: relative;
                top: -15px;
                height: 320px;
                a {
                    display: block;
                    height: 320px;
                    width: 376px;
                    img {
                        height: 320px;
                        width: 376px;
                    }
                }
            }
        }
        >ul {
            li {
                float: left;
                width: 284px;
                height: 150px;
                background: #7ecef3;
            }
             :nth-child(2n) {
                background: #84ccc9;
            }
        }
        >a {
            width: 100%;
            height: 30px;
            background: #d6d6ce;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            color: #000;
            border: 1px solid #ecead9;
            border-radius: 4px;
        }
    }
    .secondhand {
        margin-top: 30px;
        p {
            font-size: 20px;
        }
        .test {
            overflow: hidden;
            width: 100%;
            .lunbo_wrap {
                width: 100%;
                position: relative;
                .pic_box {
                    position: absolute;
                    height: 100%;
                    width: 9999px;
                    left: 0;
                    top: 0;
                    transition: all 500ms ease-in;
                    li {
                        float: left;
                    }
                }
                #left_arrow,
                #right_arrow {
                    position: absolute;
                    top: 50%;
                    margin-top: -30px;
                    font-size: 40px;
                    color: white;
                    background: rgba(0, 0, 0, .5);
                    padding: 10px;
                    cursor: pointer;
                }
                #left_arrow {
                    left: 0;
                }
                #right_arrow {
                    right: 0;
                }
                .pannel {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    li {
                        margin-right: 5px;
                        cursor: pointer;
                        display: block;
                        width: 10px;
                        height: 10px;
                        background: #cccccc;
                        border-radius: 50%;
                        float: left;
                    }
                    li.active {
                        background: red;
                    }
                }
            }
        }
        a {
            width: 100%;
            height: 30px;
            background: #d6d6ce;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            margin-top: 30px;
            color: #000;
            border: 1px solid #ecead9;
            border-radius: 4px;
        }
    }
    .friendly_link {
        margin-top: 30px;
        p {
            font-size: 20px;
        }
        ul {
            li {
                float: left;
                width: 173px;
                height: 90px;
                background: #84ccc9;
                text-align: center;
                vertical-align: middle;
                margin: 10px;
                a {
                    display: block;
                    img {
                        width: 173px;
                        height: 90px;
                    }
                }
            }
             :nth-child(1) {
                margin-left: 0;
            }
             :nth-last-child(1) {
                margin-right: 0;
            }
        }
    }
}

footer {
    height: 150px;
    margin-top: 30px;
}

@media screen and (max-width:481px) {
    body {
        background: none;
        //background-image: none;
    }
    header #assortment .cen .top_ban .slide .carousel-inner .item img {
        width: 100%;
        height: 100%;
        background-position: center center;
    }
    header #assortment .cen .top_ban .slide .carousel-inner .item {
        width: auto;
        height: 200px;
    }
    .container {
        padding: 0;
        margin: 0;
        .market {
            ul {
                >li {
                    ul {
                        width: auto;
                    }
                }
            }
        }
        .commodity {
            margin-top: 0;
            .com_le {
                p {
                    width: 220px;
                }
                img {
                    height: auto;
                    width: auto;
                }
            }
            .com_bod {
                .com_le {
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    p {
                        width: 100%;
                    }
                }
                .com_ri {
                    position: initial;
                }
            }
        }
    }
    .an_nab {
        ul {
            li {
                width: 20%;
                text-align: center;
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .an_con {
        ul {
            li {
                .main_tu {
                    img {
                        width: 100%;
                    }
                }
                .main_t {
                    .m_tx {
                        height: 33px;
                        font-size: 13px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        word-break: break-word;
                        color: #232326;
                        margin-top: 5px;
                        line-height: 17px;
                        margin-bottom: 3px;
                        padding: 0 4px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 482px) and (max-width: 767px) {
    .tb_ri {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .tb_ri {
        display: none;
    }
}