@charset "utf-8";
header {
    margin-bottom: 0px;
    height: 42px;
    .top_le {
        height: 42px;
    }
}

section {
    .sh_con {
        background: #00A1D6;
        margin-bottom: 20px;
        .sh_nav {
            height: 60px;
            line-height: 60px;
            text-align: center;
            >span {
                font-size: 25px;
                color: #fff;
                text-align: left;
            }
            ul {
                margin-bottom: 0;
                li {
                    float: left;
                    width: 120px;
                    a {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
        .sh_nav {
            form {
                input {
                    height: 20px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    width: 250px;
                }
                button {
                    line-height: 20px;
                    background: none;
                    height: 20px;
                    color: #fff;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .s_nav_index {
        >ul.col-md-2 {
            border: 1px solid #e1e2e5;
            padding: 0;
            text-align: center;
            background-color: #fafafa;
            color: #222;
            width: 13%;
            >li {
                >a {
                    color: #717171;
                    font-size: 16px;
                    padding-bottom: 7px;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #e1e2e5;
                    color: #222;
                }
                >ul {
                    border: none;
                    >li {
                        height: 45px;
                        line-height: 45px;
                        a {
                            display: block;
                            color: #222;
                        }
                        a:hover {
                            background-color: #e1e4ea;
                        }
                        a:checked,
                        a:active,
                        a.active {
                            background-color: #00A1D7;
                            color: #fff;
                            i {
                                color: #fff;
                            }
                        }
                        i {
                            color: #99a2aa
                        }
                    }
                }
            }
        }
        >.col-md-9 {
            .yhxx {
                .xx_top {
                    border: 1px solid #e3e3e3;
                    height: 100px;
                    padding-top: 10px;
                    .touxiang {
                        text-align: center;
                        width: 12%;
                        padding-right: 0;
                        img {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                        }
                    }
                    .mingzi {
                        margin: 0;
                        padding: 0;
                        margin-top: 15px;
                        margin-left: 4px;
                    }
                    .zhanghu {
                        ul {
                            margin-top: 20px;
                            li {
                                text-align: center;
                                width: 33.3%;
                                float: left;
                                position: relative;
                                right: 0px;
                                font-size: 15px;
                                display: block;
                                a {
                                    z-index: 1;
                                    display: block;
                                    color: #000;
                                    span {
                                        color: #666;
                                    }
                                }
                                a:hover {
                                    color: red;
                                }
                            }
                            li:nth-child(2) {
                                border-left: 1px solid #999;
                                border-right: 1px solid #999;
                            }
                        }
                    }
                    .renzheng {
                        margin-left: 85px;
                        margin-top: -35px;
                        span {
                            width: 7%;
                            text-align: left;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                .xqxinfo {
                    tr {
                        th {
                            width: 110px;
                            text-align: right;
                            color: #666;
                            font-weight: normal;
                            padding-right: 10px;
                            font-size: 12px;
                        }
                        td {
                            font-size: 12px;
                            padding: 10px 0;
                            .yhzh_p {
                                margin-top: 10px;
                            }
                            .six {
                                span {
                                    float: left;
                                    height: 20px;
                                    padding: 0 8px;
                                    line-height: 20px;
                                    border-radius: 3px;
                                    margin-right: 20px;
                                    background: #f4f4f4;
                                    cursor: pointer;
                                }
                                span:checked,
                                span:active,
                                span.active {
                                    background: #00A1D7;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:481px) {
    .p10{
        padding: 0 10px;
    }
    .c_my_use {
        .cu_n {
            background: #66ccff;
            vertical-align: middle;
            border: 1px solid #CCCCCC;
            padding: 10px 10px 10px 20px;
            span {
                float: left;
                width: 55px;
                height: 55px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                line-height: 50px;
                margin-right: 10px;
                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }
            span:nth-child(3) {
                font-size: 28px;
                float: right;
            }
        }
        .cu_sc{
            background: #66512C;
            border: 1px solid #ccc;
            border-top: none;
            ul{
                li{
                    text-align: center;
                    line-height: 30px;
                    float: left;
                    width: 33.33333333333333333333%;
                    border-right: 1px solid #ccc;
                    a{
                        display: block;
                        p{
                            height: auto;
                        }
                    }
                }
                li:last-child{
                    border: none;
                }
            }
        }
        .cu_d {
            background: red;
            a {
                display: block;
                text-align: left;
                height: 40px;
                line-height: 40px;
                border: 1px solid #E3E3E3;
                color: #000000;
                border-top: none;
                padding: 0 10px;
                span{
                    float: right;
                }
            }
        }
        .cu_mon{
            background: #089C08;
            a{
                display: block;
                text-align: left;
                height: 40px;
                line-height: 40px;
                border: 1px solid #E3E3E3;
                color: #000000;
                border-top: none;
            }
        }
        .cu_men{
            background: #405760;
            ul{
                margin-bottom: 0;
                li{
                    text-align: center;
                    line-height: 30px;
                    float: left;
                    width: 33.3333333333333333%;
                    border-right: 1px solid #ccc;
                    height: 30px;
                }
            }
            a{
                display: block;
            }
        }
        .cu_up{
            background: #795DA3;
            border-top: 1px solid #ccc;
            a{
                display: block;
                text-align: left;
                height: 30px;
                padding-left: 80px;
                color: #000;
                padding-right: 90px;
                font-size: 17px;
                span{
                    float: right;
                }
            }
        }
        .cu_seve{
            background: #B0A17E;
            border: 1px solid #CCCCCC;
            border-top: none;
            ul{
                margin: 0;
                li{
                    width: 25%;
                    float: left;
                    border-right: 1px solid #CCCCCC;
                    text-align: center;
                    a{
                        display: block;
                        color: #000000;
                    }
                }
                li:last-child{
                    border: none;
                }
            }
        }
        .cu_ser{
            background: #EC971F;
            border: 1px solid #ccc;
            ul{
                margin: 0;
                li{
                    width: 49.9999%;
                    float: left;
                    border-right: 1px solid #CCCCCC;
                    text-align: center;
                    height: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}