@charset "utf-8";
header {
    margin-bottom: 0px;
    height: 42px;
    .top_le {
        height: 42px;
    }
}

section {
    .sh_con {
        background: #00A1D6;
        margin-bottom: 20px;
        .sh_nav {
            height: 60px;
            line-height: 60px;
            text-align: center;
            >span {
                font-size: 25px;
                color: #fff;
                text-align: left;
            }
            ul {
                margin-bottom: 0;
                li {
                    float: left;
                    width: 120px;
                    a {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
    }
    .s_nav_index {
        >ul.col-md-2 {
            border: 1px solid #e1e2e5;
            padding: 0;
            text-align: center;
            background-color: #fafafa;
            color: #222;
            width: 13%;
            >li {
                >a {
                    color: #717171;
                    font-size: 16px;
                    padding-bottom: 7px;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #e1e2e5;
                    color: #222;
                }
                >ul {
                    border: none;
                    >li {
                        height: 45px;
                        line-height: 45px;
                        a {
                            display: block;
                            color: #222;
                        }
                        a:hover {
                            background-color: #e1e4ea;
                        }
                        a:checked,
                        a:active,
                        a.active {
                            background-color: #00A1D7;
                            color: #fff;
                            i {
                                color: #fff;
                            }
                        }
                        i {
                            color: #99a2aa
                        }
                    }
                }
            }
        }
        .psion {
            .psi {
                width: 100%;
                border: 1px solid #C9CED2;
                border-bottom: 1px solid #e2e9ed;
                border-radius: 4px 4px 0 0;
                background: #eef2f4;
                padding: 9pt 28px;
                min-height: 46px;
            }
            .pssi {
                width: 100%;
                border: 1px solid #C9CED2;
                border-top: none;
                border-radius: 0 0 4px 4px;
                box-sizing: border-box;
                background: #fff;
                padding: 30px 40px;
                color: #405760;
                h5 {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .button {
                    padding: 0;
                    height: 40px;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 700;
                    border: 1px solid #2996c4;
                    background: -moz-linear-gradient(top, #00a9e4 0, #00a0d8 100%);
                    background: -webkit-gradient(top, #00a9e4 0, #00a0d8 100%);
                    background: -webkit-linear-gradient(top, #00a9e4 0, #00a0d8 100%);
                    background: -o-linear-gradient(top, #00a9e4 0, #00a0d8 100%);
                    background: -ms-linear-gradient(top, #00a9e4 0, #00a0d8 100%);
                    background: linear-gradient(top, #00a9e4 0, #00a0d8 100%);
                    line-height: 40px;
                    display: inline-block;
                    width: 150px;
                    cursor: pointer;
                    text-align: center;
                }
                .balance {
                    color: #00b5e5;
                    margin-bottom: 20px;
                    h1 {
                        display: inline-block;
                        font-size: 38px;
                        margin-right: 10px;
                        text-align: left;
                    }
                    h6 {
                        display: inline-block;
                        font-size: 14px;
                    }
                }
                p{
                    color: #99a2aa;
                }
            }
        }
    }
}